// Typefaces.
@import url(../fonts/bariol.css);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic,400,700,400italic);

// Font stacks.
$gentium:        "Gentium Book Basic", Times, Georgia, "DejaVu Serif", serif;
$bariol-bold:    "Bariol Bold", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$bariol-light:   "Bariol Light", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$times:          "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$helvetica:      Helvetica, Arial, "Nimbus Sans L", sans-serif;
$courier:        "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$font-monospace: "Courier New", "DejaVu Sans Mono", monospace;

// Base type.
$base-font-size: 24px;
$base-font-family: $bariol-light;
$base-line-height: 30px;
$h1-font-size: 65px;
$h2-font-size: 32px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$indent-amount: 2em;

// Compass.
@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/text/replacement";  // helps w/ text replacement and image dimensions
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;

// Media queries.
//$non-handheld: "(min-width: 710px) and (max-resolution: 1.99dppx), (min-width: 1420px) and (min-resolution: 2dppx)";
$non-handheld: "(min-width: 710px) and (max-resolution: 143dpi), (min-width: 1065px) and (min-resolution: 144dpi), (min-width: 710px) and (-webkit-max-device-pixel-ratio: 1.4), (min-width: 1065px) and (-webkit-min-device-pixel-ratio: 1.5)";
//$handheld: "only screen and (max-width: 709px), only screen and (max-width: 1418px) and (min-resolution: 2dppx)";
$handheld: "only screen and (max-width: 709px), only screen and (max-width: 1064px) and (min-resolution: 144dpi), only screen and (max-width: 709px), only screen and (max-width: 1064px) and (-webkit-min-device-pixel-ratio: 1.5)";
//$handheld: "only screen and (max-width: 709px)";

/* =============================================================================== *
 *  normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css   *
 * =============================================================================== */

// Corrects block display not defined in IE6/7/8/9 & FF3
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

// Corrects inline-block display not defined in IE6/7/8/9 & FF3
audio,
canvas,
video {
  display: inline-block;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *display: inline;
    *zoom: 1;
  }
}

// Prevents modern browsers from displaying 'audio' without controls
// Remove excess height in iOS5 devices
audio:not([controls]) {
  display: none;
  height: 0;
}

// Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
//Known issue: no IE6 support
[hidden] {
  display: none;
}

html {
  font-size: 100% * ($base-font-size / 16px); /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

// Addresses font-family inconsistency between 'textarea' and other form elements.
html,
button,
input,
select,
textarea {
  font-family: $base-font-family;
}

// Addresses margins handled incorrectly in IE6/7
body {
  margin: 0;
}

/*
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link {
}
a:visited {
}
a:hover,
a:focus {
}
a:active {
}

// Addresses outline displayed oddly in Chrome
a:focus {
  outline: thin dotted;
}

// Improves readability when focused and also mouse hovered in all browsers
// people.opera.com/patrickl/experiments/keyboard/test
a:hover,
a:active {
  outline: 0;
}

h1 {
  /* Sets the font-size and line-height while keeping a proper vertical rhythm. */
  @include adjust-font-size-to( $h1-font-size );

  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */
  @include leader(1, $h1-font-size);
  @include trailer(1, $h1-font-size);
}

h2 {
  @include adjust-font-size-to( $h2-font-size );
  @include leader(1, $h2-font-size);
  @include trailer(1, $h2-font-size);
}

h3 {
  @include adjust-font-size-to( $h3-font-size );
  @include leader(1, $h3-font-size);
  @include trailer(1, $h3-font-size);
}

h4 {
  @include adjust-font-size-to( $h4-font-size );
  @include leader(1, $h4-font-size);
  @include trailer(1, $h4-font-size);
}

/* Thematic break */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: rhythm(1) 0;
}

// Addresses styling not present in IE7/8/9, S5, Chrome
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}

// Addresses style set to 'bolder' in FF3+, S4/5, Chrome
b,
strong {
  font-weight: bold;
}

// Addresses styling not present in S5, Chrome
dfn {
  font-style: italic;
}

// Addresses styling not present in IE6/7/8/9
mark {
  background: #ff0;
  color: #000;
}

// Addresses margins set differently in IE6/7
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: rhythm(1) 0;
}

// Corrects font family set oddly in IE6, S4/5, Chrome
// en.wikipedia.org/wiki/User:Davidgothberg/Test59
pre,
code,
kbd,
samp,
tt,
var {
  font-family: $font-monospace;
  @if $legacy-support-for-ie6 {
    _font-family: 'courier new', monospace;
  }
  @include adjust-font-size-to( 1 * $base-font-size );
}

// Improves readability of pre-formatted text in all browsers
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// Addresses CSS quotes not supported in IE6/7
q {
  quotes: none;
}

// Addresses quote property not supported in S4
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


// Addresses margins set differently in IE6/7
dl,
menu,
ol,
ul,
.item-list ul /* Drupal override */ {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: rhythm(1) 0;
}
.item-list ul li { /* Drupal override */
  margin: 0;
}
dd {
  margin: 0 0 0 $indent-amount;
}
ul, ol, .item-list ul, .item-list ol {
  ul, ol {
    margin: 0; /* Turn off margins on nested lists. */
  }
}

// Addresses paddings set differently in IE6/7
menu,
ol,
ul,
.item-list ul /* Drupal override */ {
  padding: 0 0 0 $indent-amount;
}

// Corrects list images handled incorrectly in IE7
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}


// Removes border when inside 'a' element in IE6/7/8/9, FF3
// Improves image quality when scaled in IE7
// code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

// Corrects overflow displayed oddly in IE9
svg:not(:root) {
  overflow: hidden;
}


// Corrects margin displayed oddly in IE6/7
form {
  margin: 0;
}

// Define consistent border, margin, and padding
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
}

// Corrects color not being inherited in IE6/7/8/9
// Corrects text not wrapping in FF3
// Corrects alignment displayed oddly in IE6/7
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *margin-left: -7px;
  }
}

// Corrects font size not being inherited in all browsers
// Addresses margins set differently in IE6/7, FF3+, S5, Chrome
// Improves appearance and consistency in all browsers
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *vertical-align: middle;
  }
}

// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
button,
input {
  line-height: normal; /* 1 */
}

// Improves usability and consistency of cursor style between image-type 'input' and others
// Corrects inability to style clickable 'input' types in iOS
// Removes inner spacing in IE7 without affecting normal text inputs
// Known issue: inner spacing remains in IE6
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *overflow: visible;
  }
}

// Re-set default cursor for disabled elements
button[disabled],
input[disabled] {
  cursor: default;
}

// Addresses box sizing set to content-box in IE8/9
// Removes excess padding in IE8/9
// Removes excess padding in IE7
// Known issue: excess padding remains in IE6
input[type="checkbox"],
input[type="radio"] {
  @include box-sizing(border-box);
  padding: 0;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *height: 13px;
    *width: 13px;
  }
}

// Addresses appearance set to searchfield in S5, Chrome
// Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
input[type="search"] {
  -webkit-appearance: textfield;
  @include box-sizing(content-box);
}

// Removes inner padding and search cancel button in S5, Chrome on OS X
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

// Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Removes default vertical scrollbar in IE6/7/8/9
// Improves readability and alignment in all browsers
textarea {
  overflow: auto;
  vertical-align: top;
}

// Remove most spacing between table cells
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* =============================================================================== *
 *  ALL VIEWPORTS                                                                  *
 * =============================================================================== */

/**
 * PAGE/CANVAS
 */
body {
  background: #275A36 url(../img/page-bg.png) repeat-y top center;
}
#page-wrapper {
  margin: 0;
  padding-bottom: 35px;
  background: black;
}
#page {
  background: white;
}

/**
 * HEADER
 */
#header {
  background: /* #3F9D5D */ url(../img/header-bg.png) repeat;

  ul.menu {
    margin: 0;
    padding: 0;
    overflow: hidden; /* contain floats */

    li {
      float: left;
      list-style: none;
      font-family: $bariol-bold;
      font-size: 30px; /* fallback */

      a {
        text-decoration: none;
        color: white;
      }

      &.first a {
        display: block;
        @include replace-text(url(../img/header-logo.png), 0, 0);
      }
    }
  }
}
@media #{$non-handheld} {
  #header {
    height: 62px;
    ul.menu {
      li {
        font-size: 32px;
        line-height: 52px;
        margin: 0;
        padding: 5px 18px;

        &.first a {
          width: 64px;
          height: 52px;
          background-position: center;
        }
      }
    }
  }
  .not-front #header {
    background: #3F9D5D url(../img/header-bg-art.jpg) no-repeat;
    background-size: 100% auto;
  }
}

/**
 * CONTENT
 */
#breadcrumb {
  font: 16px/16px $bariol-light;
  a {
    color: #5A5A5A;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
#page-title {
  font: 32px/34px $bariol-bold;
  color: #248040;
  margin: 0 0 0.2em;
}
#content {
  font: 20px/30px $gentium;
  color: black;
  a {
    color: #248040;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .field-name-field-inspiration-subtitle {
    font: 26px/26px $bariol-light;
    color: #248040;
    p {
      margin: 0 0 16px;
    }
  }

  .view-display-id-page_by_category,
  .view-display-id-page_by_series {
    .view-header select {
      background: white;
      border-radius: 1em;
      width: 95%;
      height: 3em;
      border: 2px solid #8CBD9D;
      padding: 0.6em;
      font-size: 1em;
      line-height: 1em;
      font-weight: bold;
      color: #258141;
      margin: 0.5em 0 1.5em;
    }
    .views-row {
      min-height: 200px;
      position: relative; /* container */
      padding-left: 175px;
      border-radius: 15px;
      padding: 8px 8px 8px 175px;
      &:hover {
        background:#D6E6EA;
      }
      font-size: 0.95em;
      line-height: 1.2em;
      p {
        margin: 0.3em 0;
      }
    }
    .views-field-field-inspiration-thumbnail {
      position: absolute;
      top: 15px;
      left: 8px;
      img {
        border-radius: 10px;
      }
    }
    .views-field-title {
      font: 1.4em/1.1em $bariol-bold;
      margin: 0.3em 0;
    }
  }
  
  /* Make YouTube video player responsive, per https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
  .video-container {
    margin: 1em;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
  }
  .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
#block-boxes-anonymous-user-notice,
#block-views-comments-block {
  background: #D6E6EA;
  border-radius: 12px;
  padding: 15px 15px 15px 25px;
  margin: 0 0 25px;
  h2 {
    font: 24px/30px $bariol-bold;
    color: #106071;
    margin: 0.2em 0 0.7em;
  }
}
#block-boxes-anonymous-user-notice {
  p {
    font: 21px/25px $bariol-light;
    letter-spacing: 0.01em;
  }
}
#block-views-comments-block {
  .views-row {
    position: relative; /* container */
    padding-left: 110px;
    min-height: 138px;
    .views-field-field-user-head-shot img {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100%;
      border: 3px solid white;
    }
    .views-field-field-user-name-first {
      font: 16px/20px $bariol-bold;
      padding-top: 0.4em;
      color: #106071;
      .field-content:after {
        content: ':';
      }
    }
    .views-field-created,
    .views-field-created-1 {
      position: absolute;
      top: 98px;
      left: 0;
      font: 15px/18px $bariol-light;
      width: 90px;
      text-align: center;
      a {
        text-decoration: none;
        color: #222222;
      }
    }
    .views-field-created-1 {
      top: 114px;
    }
    .views-field-comment-body {
      font-size: 18px;
      line-height: 25px;
      p {
        margin: 0 0 0.5em;
      }
    }
  }
}
#block-commentsblock-comment-form-block {
  h2.title {
    margin-bottom: 0.3em;
    font: 24px/30px $bariol-bold;
    color: #106071;
  }
  fieldset.filter-wrapper {
    display: none;
  }
  .form-type-textarea {
    margin: 0;
    label {
      display: none;
    }
    textarea {
      border-radius: 10px;
    }
    .grippie {
      display: none;
    }
    .wysiwyg-toggle-wrapper {
      margin-left: 10px;
      a {
        font: 14px/16px $bariol-bold;
        color: #333;
        text-decoration: none;
      }
    }
  }
  .form-actions {
    margin: 0.2em 0.5em 1em;
    text-align: right;
  }
}

/**
 * SIDEBAR
 */
#sidebar-first.with-bottom {
  border-bottom: 7px solid #AC6928;
  margin-bottom: 18px;
  background: #F3E9DF url(../img/sidebar-bg.jpg) bottom left no-repeat;
  background-size: 100% auto;
}
#block-service-links-service-links {
  border-top: 6px solid #248040;
  border-bottom: 7px solid white;
  background: url(../img/social-bg.jpg) top left no-repeat;
  background-size: 100% auto;
  padding: 24px 0;
  h2 {
    margin: 0 auto;
    width: 100px;
    padding-right: 130px;  /* room for links */
    font: 18px/20px $bariol-bold;
    color: #248040;
  }
  .content {
    text-align: center;
    margin-top: -22px;
    height: 22px;
  }
  ul {
    margin: 0;
    padding: 2px 0 2px 95px;  /* left padding accommodates title, top+bottom is for Pinterest */
    overflow: hidden; /* contain floats */
    display: inline-block;
    li {
      float: left;
      list-style: none;
      margin-right: 6px;
      &.last {
        margin-top: -2px;
      }
      a {
        display: block !important;
        width: 16px;
        height: 16px;
        overflow: hidden;
        img {
          display: block;
        }
      }
    }
  }
}
#block-views-inspirations-block-author {
  text-align: center;
  color: #AC6928;
  font-size: 24px;
  line-height: 26px;
  .views-field-field-user-head-shot {
    margin: 0 0 10px;
    img {
      border: 5px solid #C99D73;
      border-radius: 100%;
    }
  }
  .views-field-field-user-name-first .field-content,
  .views-field-field-user-name-last .field-content,
  .views-field-created {
    font-family: $bariol-bold;
  }
  .views-field-created {
    font-size: 0.8em;
    line-height: 2em;
  }
}
#block-views-inspirations-block-gathering,
#block-views-inspirations-block-categories {
  margin: 0 0 20px;
  h2 {
    font-size: 25px;
    line-height: 32px;
    color: #AC6928;
    border-bottom: 1px solid #AC6928;
    font-weight: normal;
    margin: 0 0 0.4em;
  }
  .content {
    font: bold italic 20px/24px $gentium;
    color: #5A5A5A;
    a {
      color: #5A5A5A;
      text-decoration: none;
    }
    p {
      margin: 0.5em 0;
    }
  }
}
#block-views-inspirations-block-categories {
  .views-row {
    margin-bottom: 0.4em;
  }
}

/**
 * FOOTER
 */
#footer {
  background: url(../img/footer-bg.png) repeat;

  #block-ecovillagers-ia-slogan {
    font: 31px/36px $gentium;
    color: white;
  }

  .menu-name-main-menu {
    ul.menu {
      margin: 0;
      padding: 0;
    }
    > ul.menu {
      font: 19px/24px $bariol-light;
      li {
	list-style: none;
	margin: 0;
	padding: 0;
	ul li {
	  text-indent: 0.8em;
	}

	a {
	  text-decoration: none;
	  color: white;
	}
      }
      > li.first {
	float: left;
	width: 190px;  //@TODO: replace this with responsive hoohaw
	padding-bottom: 1.5em;
      }
    }
  }

  #block-boxes-site-social-links {
    margin: 18px 0 0 0;
    ul {
      margin: 0;
      padding: 3px 0 0 0;
    }
    li {
      list-style: none;
      font: 24px/32px $bariol-bold;
    }
    .content a {
      text-decoration: none;
      color: #E9E2DD;
      display: block;
      padding-left: 45px;
      margin: 5px 90px 5px 0;
      background: url(../img/footer-social-link.png) top left no-repeat;
      &.site-social-facebook {
        background-position: 0 -59px;
      }
      &.site-social-twitter {
        background-position: 0 -10px;
      }
      &.site-social-youtube {
        background-position: 0 -108px;
      }
    }
  }

  #block-boxes-footer-home-link {
    .content a {
      @include replace-text(url(../img/footer-logo.png), 0, 0);
      display: block;
      width: 120px;
      height: 131px;
    }
  }

  .boxes-box-controls {
    display: none;
  }
}
@media #{$non-handheld} {
  #footer {
  }
  .not-front #footer {
    background: #6A3B19 url(../img/footer-bg-art.jpg) bottom left;
    background-size: 100% auto;
  }
}

/**
 * HOME PAGE
 */
body.home {
  #breadcrumb {
    display: none;
  }
  h1.title {
    display: none;
  }

  /* slide viewer */
  #content .view-overview-slides {
    .flexslider {
      background: none;
      border: none;
      border-radius: 0;
    }
    .views-slideshow-cycle-main-frame {
    }
    .views-slideshow-cycle-main-frame-row {
    }
    .views-field-field-overview-slide-image a img {
    }

    .views-field-field-overview-slide-blurb {
      font: 26px/31px $gentium;
      a {
        text-decoration: none;
        color: black;
        .slide-blurb-raquo {
          color: #AC6928;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/**
 * OVERVIEW PAGE
 */
body.node-type-overview {
  #main {
    padding-top: 0;
    width: 100%;  /* why is this necessary? */
  }
  #breadcrumb {
    display: none;
  }
  #content-wrapper {
    width: 100%;
    float: none;
    margin-right: 0;
    
    h1.title {
      display: none;
    }
    .field-name-field-overview-subtitle {
      display: none;  /* @TODO: figure out how to incorporate this content into the design */
    }
  }
  #content {
    .overview-section {
      background-size: 100% auto;
      background-repeat: no-repeat;
      overflow: hidden;  /* contain floats */
      
      .overview-overlay {
	display: inline-block;
	margin: 2em 0;
	background-image: url(../img/overview-text-overlay-bg.png);
	color: white;
	
	a {
	  color: white;
	}
      }
    }
    .overview-button {
      text-align: center;
      
      a {
	display: inline-block;
	border: 2px #999 solid;
	border-radius: 7px;
	background-color: #eee;
	font-family: Bariol;
	font-size: 1.2em;
	color: #666;
	padding: 0.6em 5em;
      }
      a:hover {
	background-color: #999;
	color: #ddd;
	text-decoration: none;
      }
    }
  }
}

/* =============================================================================== *
 *  ALL NON-HANDHELD: > 710px                                                      *
 * =============================================================================== */
@media #{$non-handheld} {
  .not-front {
    #main-wrapper {
      text-align: center;
    }
    #main {
      display: inline-block;
      padding: 35px 0;
      overflow: hidden; /* contain floats */
      text-align: left;
    }
    #content-wrapper {
      float: left;
    }
    #sidebar-first {
      float: left;
      padding-bottom: 55px;
      #block-views-inspirations-block-author {
        margin: 35px 10px 20px;
      }
      #block-views-inspirations-block-categories,
      #block-views-inspirations-block-gathering {
        margin: 21px;
      }
    }
  }
  
  body.node-type-overview {
    #main {
      padding: 0;
    }
    #content {
      .overview-section {
	h2, h3, p, li {
	  margin: 1em 65px;
	  line-height: 1.5em;
	}
	.overview-illustration {
	  float: right;
	  margin-top: 1em;
	  margin-bottom: 1em;
	}
	.overview-transition {
	  display: inline-block;
	  color: white;
	  margin: 5vw 65px;
	}
      }
    }
    #sidebar-first {
      float: none;
      width: 100%;
      padding: 0;
      
      #block-service-links-service-links {
	border-bottom: none;
      }
    }
  }

  /* Non-handheld home page content, i.e., standard slide viewer */
  body.home {
    #page {
      background: white url(../img/home-content-bg.jpg) no-repeat top center;
    }
    #content {
      width: 675px;
      height: 670px;
      margin: 0 auto;
      position: relative; /* container */
      top: 52px;

      .view-overview-slides {
        width: 498px;
        height: 640px;
        position: absolute;
        left: 88px;
        background: url(../img/home-viewer-bg.png) no-repeat top left;

        .view-content {
          width: 475px;
          position: absolute;
          top: 11px;
          left: 12px;
        }
        .views-field-field-overview-slide-blurb {
          padding: 16px 30px 0;
          font-size: 25px;
          line-height: 30px;
        }

        .flexslider {
          .flex-control-nav {
            position: absolute;
            top: 630px;
            left: 130px;
            li {
              float: left;
              margin: 0 23px 0 0;
              a {
                /* reset flexslider defaults */
                border: none;
                border-radius: 0;
                -webkit-border-radius: 0;
                box-shadow: none;
                -webkit-box-shadow: none;

                width: 37px;
                height: 37px;
                overflow: hidden;
                background: none;
                @include replace-text(url(../img/home-viewer-selection.png), 0, 0);
                background-position: -37px 0;
                cursor: pointer;
                &.flex-active {
                  background-position: 0 0;
                }
              }
            }
          }
          .flex-direction-nav {
            a {
              width: 60px;
              height: 97px;
              @include replace-text(url(../img/home-viewer-advance.png), 0, 0);
              position: absolute;
              top: 441px;
              left: 0;
              cursor: pointer;
              &.flex-prev {
                left: -100px;
              }
              &.flex-next {
                left: 517px;
                background-position: -60px 0;
              }
              /* override flexslider css */
              display: block;
              opacity: 0.8;
              &:hover {
                opacity: 1;
              }
            }
          }
        }

/* Views Slideshow version
        .widget_pager_bottom {
          position: absolute;
          top: 630px;
          left: 130px;
          .views-slideshow-pager-field-item {
            float: left;
            margin-right: 23px;
          }
          .views-content-counter {
            width: 37px;
            height: 37px;
            overflow: hidden;
            @include replace-text(url(../img/home-viewer-selection.png), 0, 0);
            background-position: -37px 0;
            cursor: pointer;
          }
          .active .views-content-counter {
            background-position: 0 0;
          }
        }
        .views-slideshow-controls-text {
          span {
            width: 60px;
            height: 97px;
            @include replace-text(url(../img/home-viewer-advance.png), 0, 0);
            position: absolute;
            top: 441px;
            left: 0;
            cursor: pointer;
            &.views-slideshow-controls-text-previous {
              left: -100px;
            }
            &.views-slideshow-controls-text-next {
              left: 517px;
              background-position: -60px 0;
            }
            &.views-slideshow-controls-text-pause {
              display: none;
            }
          }
        }
*/
      }
    }
  }
}


/* =============================================================================== *
 *  HANDHELD: < 710px                                                              *
 * =============================================================================== */
@media #{$handheld} {
  #header {
    height: 12.768vw;  /* mobile Chrome needs this spelled out */
    ul.menu {
      li {
        font-size: 5.474vw;
        line-height: 7.368vw;
        margin: 0;
        padding: 2.7vw 2.6vw;

        &.first a {
          width: 9.474vw;
          height: 7.368vw;
          background-size: 100%;
        }

        &.last {
          padding-right: 0; /* prevent unwanted wrapping */
        }
      }
    }
  }

  .not-front #main {
    padding: 4.4vw;
  }
  #main {
    /* slide viewer */
    #content .view-overview-slides {
      height: 124.6vw;
      background: url(../img/home-viewer-blurb-bg-handheld.png) no-repeat bottom left;
      background-size: 100% auto;

/* Views Slideshow version
      .views-slideshow-cycle-main-frame {
        width: 96vw;   // leave a clipping area
        margin: 0 auto;
      }
      .views-slideshow-cycle-main-frame-row {
        width: 96vw;   // match the slideshow frame
      }

      .views-slideshow-controls-bottom {
        display: none;
      }
*/
      .views-field-field-overview-slide-image a img {
        width: 100%; /* scale to fill the frame */
        height: auto;
      }

      .views-field-field-overview-slide-blurb {
        padding: 1.5vw 7vw 0;
        font-size: 4.9vw;
        line-height: 6.7vw;
      }

      .flexslider {
        .flex-control-nav {
          display: none !important; /* never show */
        }
        .flex-direction-nav {
          display: none !important; /* never show */
        }
      }

    }
  }
  #breadcrumb {
    font-size: 3.4vw;
    line-height: 3.8vw;
  }
  #page-title {
    font-size: 6.7vw;
    line-height: 7.1vw;
  }
  .not-front #content {
    font-size: 4.2vw;
    line-height: 6.5vw;
    .field-name-field-inspiration-subtitle {
      font-size: 5.5vw;
      line-height: 5.5vw;
      p {
        margin-bottom: 3.3vw;
      }
    }
  }
  #block-boxes-anonymous-user-notice,
  #block-views-comments-block {
    border-radius: 2.5vw;
    padding: 3.1vw;
    margin: 0 0 5.3vw;
    h2 {
      font-size: 5vw;
      line-height: 6.3vw;
    }
  }
  #block-boxes-anonymous-user-notice {
    p {
      font-size: 4.4vw;
      line-height: 5.3vw;
    }
  }
  #block-views-comments-block {
    .views-row {
      padding-left: 23.1vw;
      min-height: 29vw;
      .views-field-field-user-head-shot img {
        border-width: 1vw;
        width: 17.9vw;
        height: auto;
      }
      .views-field-field-user-name-first {
        font-size: 3.4vw;
        line-height: 4.2vw;
      }
      .views-field-created,
      .views-field-created-1 {
        top: 20.6vw;
        font-size: 3.2vw;
        line-height: 3.8vw;
        width: 18.9vw;
      }
      .views-field-created-1 {
        top: 24vw;
      }
      .views-field-comment-body {
        font-size: 3.8vw;
        line-height: 5.3vw;
      }
    }
  }
  #block-commentsblock-comment-form-block {
    h2.title {
      font-size: 5vw;
      line-height: 6.3vw;
    }
    .form-type-textarea {
      textarea {
        border-radius: 2.1vw;
      }
      .wysiwyg-toggle-wrapper {
        margin-left: 2.1vw;
        a {
          font-size: 2.9vw;
          line-height: 3.4vw;
        }
      }
    }
  }
  #sidebar-first {
    border-bottom-width: 1.5vw;
    position: relative; /* container */
    padding-bottom: 3vw;
    min-height: 86.3vw;
  }
  body.node-type-overview {
    #main {
      padding: 0;
    }
    #content {
      h2, h3, p {
	line-height: 1.5em;
	margin: 1em;
      }
      h2 {
	text-align: center;
      }
      .overview-section {
	.overview-overlay {
	  margin: 0;
	  
	  h3, p, li {
	    margin: 0.5em 1em;
	  }
	}
	.overview-illustration {
	  width: 45vw;
	  display: block;
	  margin: 0.5em auto 0;
	}
	.overview-transition {
	  display: inline-block;  /* keep our margins to ourselves */
	  color: white;
	  margin: 2vw 0;
	  width: 90%;
	  padding: 0 5%;
	  font-size: 1em;
	}
      }
      .overview-button a {
	padding: 0.7em 5%;
	width: 82%;
      }

    }
    #sidebar-first {
      min-height: auto;
      padding-bottom: 0;
      
      #block-service-links-service-links {
	h2 {
	  width: 21vw;
	  padding-right: 37vw;
	  font-size: 5vw;
	}
	ul {
	  padding: 2px 0 2px 30vw;
	  top: -2vw;
	}
	a {
	  width: 5vw;
	  height: 5vw;
	  img {
	    width: 5vw;
	  }
	}
      }
    }
    #block-service-links-service-links {
      margin-bottom: 0;
    }
  }
  #block-service-links-service-links {
    border-top-width: 1.3vw;
    padding: 5vw 0;
    margin-bottom: 6.5vw;
    h2 {
      width: 21vw;
      padding-right: 130px;  /* room for links */
      font-size: 3.8vw;
      line-height: 4.2vw;
    }
    .content {
      margin-top: -2.3vw;  /* get the top to the middle of the responsive height area */
      height: 4.6vw;
    }
    ul {
      padding: 2px 0 2px 20vw;  /* left padding accommodates title, top+bottom is for Pinterest */
      position: relative;
      top: -8px;  /* center this non-responsive element around the middle line */
      li {
        margin-right: 1.3vw;
      }
    }
  }
  #block-views-inspirations-block-author {
    position: absolute;
    top: 22.5vw;
    left: 5vw;
    font-size: 5.1vw;
    line-height: 5.5vw;
    max-width: 38vw;
    .views-field-field-user-head-shot {
      margin: 0;
      padding: 1.5vw;
      img {
        width: 31.6vw;
        height: auto;
        border-width: 1.1vw;
      }
    }
  }
  #block-views-inspirations-block-gathering,
  #block-views-inspirations-block-categories {
    margin: 0 0 4.2vw 47.8vw;
    h2 {
      font-size: 5.3vw;
      line-height: 6.7vw;
      border-bottom: 1px solid #AC6928;
    }
    .content {
      font-size: 4.2vw;
      line-height: 5vw;
      margin: 0 5vw 4vw 0;
    }
  }

  #footer {
    padding: 3.4vw 3.4vw 3.4vw 7.6vw;
    #block-ecovillagers-ia-slogan {
      font-size: 6.3vw;
      line-height: 7.5vw;
    }
    .menu-name-main-menu {  /* kill this whole block of style for three menu columns */
      float: left;
      width: 54vw;
    }
    .menu-name-main-menu > ul.menu {
      font: 3.9vw/5vw $bariol-light;
      margin: 5vw 0 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        ul {
          margin-top: 0;
        }
      }
      > li.first {
	width: 31vw;
      }
    }
    #block-boxes-site-social-links {
      float: left;
      width: 31vw;  /* 41vw for three menu columns */
      margin: 3.8vw 0 0 0.5vw;
      ul {
        padding: 1.2vw 0 0 0;
      }
      li {
        font-size: 5.3vw;
        line-height: 7vw; /*6.7*/
      }
      a {
        margin: 0.7vw 19vw 1vw 0; /*1*/
        padding-left: 9.5vw;
        background-size: 6.9vw auto;
        &.site-social-facebook {
          background-position: 0 -11.9vw;
        }
        &.site-social-twitter {
          background-position: 0 -2.1vw;
        }
        &.site-social-youtube {
          background-position: 0 -21.7vw;
        }
      }
    }
    #block-boxes-footer-home-link {
      clear: left;  /* kill this rule for three menu columns */
      padding-top: 10px; /* kill this rule for three menu columns */
      p {
        margin-top: 5vw;
      }
      a {
	margin: 0 auto;  /* kill this rule for three menu columns */
        width: 25.3vw;
        height: 27.6vw;
        background-size: 100%;
      }
    }
  }
}

/* =============================================================================== *
 *  TABLET: 710-850px                                                              *
 * =============================================================================== */
//@media (min-width: 710px) and (max-width: 849px) and (max-resolution: 1.99dppx), (min-width: 1420px) and (max-width: 1599px) and (min-resolution: 2dppx) {
@media (min-width: 710px) and (max-width: 849px) and (max-resolution: 143dpi), (min-width: 710px) and (max-width: 849px) and (-webkit-max-device-pixel-ratio: 1.4) {
  #header {
    text-align: center;
    ul.menu {
      display: inline-block;
      padding-right: 10px;
    }
  }
  .not-front #content-wrapper {
    width: 57vw;
    margin-right: 2.5vw;
  }
  #sidebar-first {
    width: 33vw;
    #block-service-links-service-links {
      text-align: center;
      padding: 5px 0 10px;
      h2 {
        margin: 0;
        width: 140px;
        padding: 0;
        text-align: left;
        display: inline-block;
      }
      .content {
        margin: 0 auto;
        height: 22px;
        width: 140px;
        overflow: visible;
        ul {
          padding: 0;
          height: 22px;
        }
      }
    }
    #block-views-inspirations-block-author {
      font-size: 22px;
      line-height: 24px;
    }
  }


  #footer {
    padding: 25px 1vw 15px 3vw;
    #block-ecovillagers-ia-slogan {
      font-size: 3.45vw;
      margin-bottom: 1vw;
    }
    .menu-name-main-menu {
      float: left;
      width: 44vw;  /* 64vw for three menu columns */
      > ul > li.first {
        width: 22.35vw;
      }
    }
    #block-boxes-site-social-links {
      float: left;
      margin-top: 0;
      a { margin-right: 0; }
    }
    #block-boxes-footer-home-link {
      /* clear: left;  needed for three menu columns */
      padding-top: 10px;  /* 35px for three menu columns */
      p { margin: 0; }
      a { margin: 0 auto; }
    }
  }
  body.home {
    #page {
      background-size: auto 815px;
    }
    #main {
      height: 750px;
    }
  }
  body.node-type-overview {
    #content {
      .overview-section {
	h3, p, li {
	  width: 50vw;
	  margin-right: 5vw
	}
	.overview-overlay {
	  width: 63vw;
	}
	.overview-illustration {
	  margin-right: 7.6vw;
	  width: 28vw;
	  height: auto;
	}
      }
    }
  }
}

/* =============================================================================== *
 *  TABLET: 850-949px                                                              *
 * =============================================================================== */
//@media (min-width: 850px) and (max-width: 949px) and (max-resolution: 1.99dppx), (min-width: 1700px) and (max-width: 1899px) and (min-resolution: 2dppx) {
@media (min-width: 850px) and (max-width: 949px) and (max-resolution: 143dpi), (min-width: 850px) and (max-width: 949px) and (-webkit-max-device-pixel-ratio: 1.4) {
  .not-front #content-wrapper {
    width: 60vw;
    margin-right: 2.5vw;
  }
  #sidebar-first {
    width: 31vw;
  }
  #footer {
    padding: 25px 15px 15px 3vw;
    #block-ecovillagers-ia-slogan {
      font-size: 3.45vw;
      margin-bottom: 1vw;
    }
    .menu-name-main-menu {
      float: left;
      width: 44vw;  /* 64vw for three menu columns */
      > ul.menu {
        font-size: 2.4vw;
        line-height: 2.9vw;
	> li.first {
	  width: 22.35vw;
	}
      }
    }
    #block-boxes-site-social-links {
      float: left;
      margin-top: 0;
      a { margin-right: 0; }
    }
    #block-boxes-footer-home-link {
      /* clear: left;  needed for three menu columns */
      padding-top: 10px;  /* 35px for three menu columns */
      p { margin: 0; }
      a { margin: 0 auto; }
    }
  }
  body.home {
    #page {
      background-size: 100% auto;
    }
    #main {
      height: 86.5vw;
    }
  }
  body.node-type-overview {
    #content {
      .overview-section {
	h3, p, li {
	  width: 50vw;
	}
	.overview-overlay {
	  width: 63vw;
	}
	.overview-illustration {
	  margin-right: 65px;
	  width: 240px;
	}
      }
    }
  }
}

/* =============================================================================== *
 *  DESKTOP: > 949px                                                              *
 * =============================================================================== */
//@media (min-width: 950px) and (max-resolution: 1.99dppx), (min-width: 1900px) and (min-resolution: 2dppx) {
@media (min-width: 950px) and (max-resolution: 143dpi), (min-width: 1425px) and (min-resolution: 144dpi), (min-width: 950px) and (-webkit-max-device-pixel-ratio: 1.4), (min-width: 1425px) and (-webkit-min-device-pixel-ratio: 1.5) {
  #header {
    .region-header {
      width: 910px;
      margin: 0 auto;
    }
    .block-menu-block {
      margin-left: -18px;
    }
  }
  .not-front #content-wrapper {
    width: 550px;
    margin-right: 4vw;
  }
  #sidebar-first {
    width: 280px;
  }
  #footer {
    height: 250px;
    .region-footer {
      padding-top: 25px;
      width: 910px;
      margin: 0 auto;
    }
    #block-ecovillagers-ia-slogan {
      margin-bottom: 20px;
    }
    .menu-name-main-menu {
      float: left;
      width: 360px;  /* 560px for three menu columns */
      > ul.menu {
        font-size: 21px;
        line-height: 25px;
	> li.first {
//        width: 22.35vw;
	}
      }
    }
    #block-boxes-site-social-links {
      float: left;
      margin-top: 0;
    }
    #block-boxes-footer-home-link {
      float: left;
      p { margin: 0; }
      a { margin: 0 auto; }
    }
  }
  body.home {
    #page {
      background-size: 100% auto;
    }
    #main {
      height: 87.5vw;
    }
  }
  body.node-type-overview {
    #content {
      .overview-section {
	h3, p, li {
	  width: 50vw;
	}
	.overview-overlay {
	  width: 62vw;
	}
	.overview-illustration {
	  margin-right: 9vw;
	  width: 240px;
	}
      }
    }
  }
}

/* =============================================================================== *
 *  DESKTOP: > 1099px                                                              *
 * =============================================================================== */
@media (min-width: 1100px) {
  .not-front #content-wrapper {
    margin-right: 80px;
  }
  .front {
    #main {
      height: 68.7vw;
    }
    #footer {
      height: 20.7vw;
    }
  }
}

/* =============================================================================== *
 *  DESKTOP: > 1199px                                                              *
 * =============================================================================== */
@media (min-width: 1200px) {
  #page-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  body.home {
    #page {
      background-size: auto;
    }
    #main {
      height: 825px;
    }
    #footer {
      height: 249px;
    }
  }
  body.node-type-overview {
    #content {
      .overview-section {
	h3, p, li {
	  width: 600px;
	}
	.overview-illustration {
	  margin-right: 140px;
	}
	.overview-overlay {
	  width: 700px;
	}
	.overview-transition {
	  margin: 60px 65px;
	}
      }
    }
  }
}
